body {
  background-color: black;
  color: white;
}

#header-class {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: large;
  font-family: 'Courier New', Courier, monospace;
}

#welcome-message {
  display: flex;
  justify-content: center;
  align-items: center;
  font-family: 'Courier New', Courier, monospace; 
}

.button-class {
  display: flex;
  justify-content: center;
  align-items: center;
}

#vs-human{
  height: 50px;
  width: 120px;

  font-family: 'Courier New', Courier, monospace;
  font-style: italic;

  border: 1px;
  border-style: solid;
  border-radius: 5px;
  border-color: white;

  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 5px;
  padding-right: 5px;

  margin: 20px;
  cursor: pointer;

  background-color: black;
  color: white;
  letter-spacing: 1px;

  transition: all 0.15s;
}

#vs-human:hover{
  opacity: 0.8;
}

#vs-human:active{
  opacity: 0.6;
}


#vs-ai{
  height: 50px;
  width: 120px;

  font-family: 'Courier New', Courier, monospace;
  font-style: italic;

  border: 1px;
  border-style: solid;
  border-radius: 5px;
  border-color: white;

  padding-top: 3px;
  padding-bottom: 3px;
  padding-left: 5px;
  padding-right: 5px;

  margin: 5px;
  cursor: pointer;

  background-color: black;
  color: white;
  letter-spacing: 1px;

  transition: all 0.15s;
}

#vs-ai:hover{
  opacity: 0.8;
}

#vs-ai:active{
  opacity: 0.6;
}

.flex-wrapper {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  justify-content: flex-start;
  font-family: 'Courier New', Courier, monospace;
  font-size: small;
}

.footer {
  margin-top: auto;
}
